html {
    height: 100%;
  }
  
  body {
    background: #000;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0   ;
  }
  
  body:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .glitch {
    animation: glitch-skew 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s infinite;
    font-family: orbitron, sans-serif;
    font-size: 8rem;
    font-weight: 900;
    line-height: 1;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform-origin: center top;
  }
  .glitch__main {
    color: #FFF;
  }
  .glitch__color {
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    transform-origin: center center;
    width: 100%;
    z-index: -1;
  }
  .glitch__color--red {
    animation: glitch 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    color: red;
  }
  .glitch__color--blue {
    animation: glitch 20ms cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite reverse;
    color: white;
  }
  .glitch__color--green {
    animation: glitch 20ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms infinite;
    color: #00FF0B;
  }
  .glitch__line {
    animation: glitch-line 2s linear infinite;
    background: #000;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .glitch__line--first {
    animation: glitch-line 2s linear infinite;
  }
  .glitch__line--second {
    animation: glitch-line 1s linear 1s infinite;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-8px, 8px);
    }
    40% {
      transform: translate(-8px, -8px);
    }
    60% {
      transform: translate(8px, 8px);
    }
    80% {
      transform: translate(8px, -8px);
    }
    100% {
      transform: translate(0);
    }
  }
  @keyframes glitch-skew {
    0% {
      transform: skew(0deg, 0deg);
    }
    48% {
      transform: skew(0deg, 0deg);
      filter: blur(0);
    }
    50% {
      transform: skew(-20deg, 0deg);
      filter: blur(4px);
    }
    52% {
      transform: skew(20deg, 0deg);
    }
    54% {
      transform: skew(0deg, 0deg);
      filter: blur(0);
    }
    100% {
      transform: skew(0deg, 0deg);
    }
  }
  @keyframes glitch-line {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
    }
  }
  .stars {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .stars__star {
    border-radius: 50%;
    box-shadow: 0 0 4px 1px #FFF;
    height: 1px;
    position: absolute;
    width: 1px;
    z-index: 100;
  }
  .stars__star:nth-child(1) {
    top: 78%;
    left: 26%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(2) {
    top: 67%;
    left: 80%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(3) {
    top: 98%;
    left: 9%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(4) {
    top: 99%;
    left: 70%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(5) {
    top: 20%;
    left: 43%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(6) {
    top: 92%;
    left: 68%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(7) {
    top: 71%;
    left: 90%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(8) {
    top: 20%;
    left: 16%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(9) {
    top: 46%;
    left: 82%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(10) {
    top: 23%;
    left: 91%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(11) {
    top: 63%;
    left: 3%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(12) {
    top: 74%;
    left: 36%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(13) {
    top: 16%;
    left: 19%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(14) {
    top: 71%;
    left: 87%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(15) {
    top: 55%;
    left: 14%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(16) {
    top: 86%;
    left: 81%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(17) {
    top: 11%;
    left: 79%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(18) {
    top: 83%;
    left: 89%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(19) {
    top: 62%;
    left: 66%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(20) {
    top: 47%;
    left: 73%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(21) {
    top: 34%;
    left: 23%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(22) {
    top: 53%;
    left: 13%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(23) {
    top: 98%;
    left: 26%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(24) {
    top: 13%;
    left: 10%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(25) {
    top: 51%;
    left: 87%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(26) {
    top: 68%;
    left: 94%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(27) {
    top: 97%;
    left: 85%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(28) {
    top: 96%;
    left: 37%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(29) {
    top: 43%;
    left: 85%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(30) {
    top: 50%;
    left: 64%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(31) {
    top: 17%;
    left: 95%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(32) {
    top: 42%;
    left: 46%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(33) {
    top: 92%;
    left: 68%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(34) {
    top: 47%;
    left: 78%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(35) {
    top: 18%;
    left: 16%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(36) {
    top: 44%;
    left: 28%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(37) {
    top: 36%;
    left: 43%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(38) {
    top: 17%;
    left: 21%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(39) {
    top: 95%;
    left: 77%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(40) {
    top: 90%;
    left: 52%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(41) {
    top: 83%;
    left: 75%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(42) {
    top: 34%;
    left: 3%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(43) {
    top: 59%;
    left: 45%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(44) {
    top: 4%;
    left: 86%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(45) {
    top: 36%;
    left: 55%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(46) {
    top: 39%;
    left: 32%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(47) {
    top: 85%;
    left: 92%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(48) {
    top: 2%;
    left: 56%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(49) {
    top: 42%;
    left: 38%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(50) {
    top: 45%;
    left: 95%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(51) {
    top: 30%;
    left: 45%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(52) {
    top: 4%;
    left: 6%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(53) {
    top: 65%;
    left: 66%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(54) {
    top: 39%;
    left: 55%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(55) {
    top: 17%;
    left: 97%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(56) {
    top: 90%;
    left: 93%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(57) {
    top: 18%;
    left: 66%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(58) {
    top: 87%;
    left: 9%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(59) {
    top: 37%;
    left: 48%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(60) {
    top: 76%;
    left: 71%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(61) {
    top: 26%;
    left: 73%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(62) {
    top: 83%;
    left: 36%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(63) {
    top: 66%;
    left: 56%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(64) {
    top: 70%;
    left: 38%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(65) {
    top: 35%;
    left: 28%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(66) {
    top: 73%;
    left: 74%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(67) {
    top: 72%;
    left: 15%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(68) {
    top: 89%;
    left: 23%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(69) {
    top: 9%;
    left: 33%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(70) {
    top: 39%;
    left: 14%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(71) {
    top: 37%;
    left: 32%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(72) {
    top: 52%;
    left: 22%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(73) {
    top: 29%;
    left: 21%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(74) {
    top: 91%;
    left: 13%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(75) {
    top: 59%;
    left: 52%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(76) {
    top: 44%;
    left: 21%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(77) {
    top: 69%;
    left: 100%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(78) {
    top: 17%;
    left: 44%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(79) {
    top: 2%;
    left: 34%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(80) {
    top: 14%;
    left: 20%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(81) {
    top: 88%;
    left: 96%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(82) {
    top: 76%;
    left: 37%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(83) {
    top: 61%;
    left: 24%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(84) {
    top: 47%;
    left: 10%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(85) {
    top: 59%;
    left: 50%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(86) {
    top: 90%;
    left: 93%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(87) {
    top: 50%;
    left: 97%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(88) {
    top: 75%;
    left: 93%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(89) {
    top: 84%;
    left: 82%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(90) {
    top: 34%;
    left: 15%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(91) {
    top: 77%;
    left: 10%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(92) {
    top: 3%;
    left: 33%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(93) {
    top: 75%;
    left: 75%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(94) {
    top: 85%;
    left: 15%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(95) {
    top: 72%;
    left: 95%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(96) {
    top: 20%;
    left: 88%;
    box-shadow: 0 0 4px 2px #FFF;
  }
  .stars__star:nth-child(97) {
    top: 64%;
    left: 91%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(98) {
    top: 9%;
    left: 83%;
    box-shadow: 0 0 4px 1px #FFF;
  }
  .stars__star:nth-child(99) {
    top: 82%;
    left: 57%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  .stars__star:nth-child(100) {
    top: 34%;
    left: 24%;
    box-shadow: 0 0 4px 3px #FFF;
  }
  
  h1 {
    cursor: default;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 100px;
    width: 100%;
    height: 100px;
    margin: auto;
    display: block;
    text-align: center;
  }
  
  h1 span {
    position: relative;
    top: 200px;
    display: inline-block;
    -webkit-animation: bounce 0.5s ease infinite alternate;
    font-size: 100px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
      0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
  }
  
  h1 span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
  }
  
  h1 span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
  }
  
  h1 span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
  }
  
  h1 span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
  }
  
  h1 span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
  }
  
  h1 span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
  }
  
  h1 span:nth-child(8) {
    -webkit-animation-delay: 0.2s;
  }
  
  h1 span:nth-child(9) {
    -webkit-animation-delay: 0.3s;
  }
  
  h1 span:nth-child(10) {
    -webkit-animation-delay: 0.4s;
  }
  
  h1 span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
  }
  
  h1 span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
  }
  
  h1 span:nth-child(13) {
    -webkit-animation-delay: 0.7s;
  }
  
  h1 span:nth-child(14) {
    -webkit-animation-delay: 0.8s;
  }
  
  /* ANIMATION */
  @-webkit-keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }

  
.reflection-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  .reflection-container:before {
    color: #fff;
    position: absolute;
    left: -1rem;
    top: 50%;
    font-size: 6vh;
    transform: translateX(-100%) translateY(-50%);
  }
  .reflection-container .reflection-content {
    height: 80vh;
    width: 80vh;
    background: #000 url(https://github.com/hackclub/dinosaurs/raw/master/smart_dinosaur_docs.png);
    background-size: cover;
    background-position: center;
    transform: rotateX(0) rotateY(0);
    pointer-events: none;
    transition: 100ms linear transform;
    overflow: hidden;
  }
  .reflection-container .reflection-content:before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    left: -50%;
    top: -50%;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
  }
  .reflection-container .reflection-grid-cell {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: 10%;
  }
  .reflection-container .reflection-grid-cell-1 {
    top: 0%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-1:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-1:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-2 {
    top: 0%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-2:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-2:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-3 {
    top: 0%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-3:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-3:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-4 {
    top: 0%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-4:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-4:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-5 {
    top: 0%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-5:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-5:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-6 {
    top: 0%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-6:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-6:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-7 {
    top: 0%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-7:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-7:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-8 {
    top: 0%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-8:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-8:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-9 {
    top: 0%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-9:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-9:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-10 {
    top: 0%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-10:hover ~ .reflection-content {
    transform: rotateX(20deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-10:hover ~ .reflection-content:before {
    transform: translateY(20%);
  }
  .reflection-container .reflection-grid-cell-11 {
    top: 10%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-11:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-11:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-12 {
    top: 10%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-12:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-12:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-13 {
    top: 10%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-13:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-13:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-14 {
    top: 10%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-14:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-14:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-15 {
    top: 10%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-15:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-15:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-16 {
    top: 10%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-16:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-16:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-17 {
    top: 10%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-17:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-17:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-18 {
    top: 10%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-18:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-18:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-19 {
    top: 10%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-19:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-19:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-20 {
    top: 10%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-20:hover ~ .reflection-content {
    transform: rotateX(15deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-20:hover ~ .reflection-content:before {
    transform: translateY(15%);
  }
  .reflection-container .reflection-grid-cell-21 {
    top: 20%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-21:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-21:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-22 {
    top: 20%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-22:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-22:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-23 {
    top: 20%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-23:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-23:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-24 {
    top: 20%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-24:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-24:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-25 {
    top: 20%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-25:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-25:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-26 {
    top: 20%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-26:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-26:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-27 {
    top: 20%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-27:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-27:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-28 {
    top: 20%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-28:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-28:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-29 {
    top: 20%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-29:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-29:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-30 {
    top: 20%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-30:hover ~ .reflection-content {
    transform: rotateX(10deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-30:hover ~ .reflection-content:before {
    transform: translateY(10%);
  }
  .reflection-container .reflection-grid-cell-31 {
    top: 30%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-31:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-31:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-32 {
    top: 30%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-32:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-32:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-33 {
    top: 30%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-33:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-33:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-34 {
    top: 30%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-34:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-34:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-35 {
    top: 30%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-35:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-35:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-36 {
    top: 30%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-36:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-36:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-37 {
    top: 30%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-37:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-37:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-38 {
    top: 30%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-38:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-38:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-39 {
    top: 30%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-39:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-39:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-40 {
    top: 30%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-40:hover ~ .reflection-content {
    transform: rotateX(5deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-40:hover ~ .reflection-content:before {
    transform: translateY(5%);
  }
  .reflection-container .reflection-grid-cell-41 {
    top: 40%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-41:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-41:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-42 {
    top: 40%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-42:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-42:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-43 {
    top: 40%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-43:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-43:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-44 {
    top: 40%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-44:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-44:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-45 {
    top: 40%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-45:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-45:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-46 {
    top: 40%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-46:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-46:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-47 {
    top: 40%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-47:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-47:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-48 {
    top: 40%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-48:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-48:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-49 {
    top: 40%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-49:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-49:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-50 {
    top: 40%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-50:hover ~ .reflection-content {
    transform: rotateX(0deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-50:hover ~ .reflection-content:before {
    transform: translateY(0%);
  }
  .reflection-container .reflection-grid-cell-51 {
    top: 50%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-51:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-51:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-52 {
    top: 50%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-52:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-52:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-53 {
    top: 50%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-53:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-53:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-54 {
    top: 50%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-54:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-54:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-55 {
    top: 50%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-55:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-55:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-56 {
    top: 50%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-56:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-56:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-57 {
    top: 50%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-57:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-57:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-58 {
    top: 50%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-58:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-58:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-59 {
    top: 50%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-59:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-59:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-60 {
    top: 50%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-60:hover ~ .reflection-content {
    transform: rotateX(-5deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-60:hover ~ .reflection-content:before {
    transform: translateY(-5%);
  }
  .reflection-container .reflection-grid-cell-61 {
    top: 60%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-61:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-61:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-62 {
    top: 60%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-62:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-62:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-63 {
    top: 60%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-63:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-63:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-64 {
    top: 60%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-64:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-64:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-65 {
    top: 60%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-65:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-65:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-66 {
    top: 60%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-66:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-66:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-67 {
    top: 60%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-67:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-67:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-68 {
    top: 60%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-68:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-68:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-69 {
    top: 60%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-69:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-69:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-70 {
    top: 60%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-70:hover ~ .reflection-content {
    transform: rotateX(-10deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-70:hover ~ .reflection-content:before {
    transform: translateY(-10%);
  }
  .reflection-container .reflection-grid-cell-71 {
    top: 70%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-71:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-71:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-72 {
    top: 70%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-72:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-72:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-73 {
    top: 70%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-73:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-73:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-74 {
    top: 70%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-74:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-74:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-75 {
    top: 70%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-75:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-75:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-76 {
    top: 70%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-76:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-76:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-77 {
    top: 70%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-77:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-77:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-78 {
    top: 70%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-78:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-78:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-79 {
    top: 70%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-79:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-79:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-80 {
    top: 70%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-80:hover ~ .reflection-content {
    transform: rotateX(-15deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-80:hover ~ .reflection-content:before {
    transform: translateY(-15%);
  }
  .reflection-container .reflection-grid-cell-81 {
    top: 80%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-81:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-81:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-82 {
    top: 80%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-82:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-82:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-83 {
    top: 80%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-83:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-83:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-84 {
    top: 80%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-84:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-84:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-85 {
    top: 80%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-85:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-85:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-86 {
    top: 80%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-86:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-86:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-87 {
    top: 80%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-87:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-87:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-88 {
    top: 80%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-88:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-88:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-89 {
    top: 80%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-89:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-89:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-90 {
    top: 80%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-90:hover ~ .reflection-content {
    transform: rotateX(-20deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-90:hover ~ .reflection-content:before {
    transform: translateY(-20%);
  }
  .reflection-container .reflection-grid-cell-91 {
    top: 90%;
    left: 0%;
  }
  .reflection-container .reflection-grid-cell-91:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(-20deg);
  }
  .reflection-container .reflection-grid-cell-91:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }
  .reflection-container .reflection-grid-cell-92 {
    top: 90%;
    left: 10%;
  }
  .reflection-container .reflection-grid-cell-92:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(-15deg);
  }
  .reflection-container .reflection-grid-cell-92:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }
  .reflection-container .reflection-grid-cell-93 {
    top: 90%;
    left: 20%;
  }
  .reflection-container .reflection-grid-cell-93:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(-10deg);
  }
  .reflection-container .reflection-grid-cell-93:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }
  .reflection-container .reflection-grid-cell-94 {
    top: 90%;
    left: 30%;
  }
  .reflection-container .reflection-grid-cell-94:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(-5deg);
  }
  .reflection-container .reflection-grid-cell-94:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }
  .reflection-container .reflection-grid-cell-95 {
    top: 90%;
    left: 40%;
  }
  .reflection-container .reflection-grid-cell-95:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(0deg);
  }
  .reflection-container .reflection-grid-cell-95:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }
  .reflection-container .reflection-grid-cell-96 {
    top: 90%;
    left: 50%;
  }
  .reflection-container .reflection-grid-cell-96:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(5deg);
  }
  .reflection-container .reflection-grid-cell-96:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }
  .reflection-container .reflection-grid-cell-97 {
    top: 90%;
    left: 60%;
  }
  .reflection-container .reflection-grid-cell-97:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(10deg);
  }
  .reflection-container .reflection-grid-cell-97:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }
  .reflection-container .reflection-grid-cell-98 {
    top: 90%;
    left: 70%;
  }
  .reflection-container .reflection-grid-cell-98:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(15deg);
  }
  .reflection-container .reflection-grid-cell-98:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }
  .reflection-container .reflection-grid-cell-99 {
    top: 90%;
    left: 80%;
  }
  .reflection-container .reflection-grid-cell-99:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(20deg);
  }
  .reflection-container .reflection-grid-cell-99:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }
  .reflection-container .reflection-grid-cell-100 {
    top: 90%;
    left: 90%;
  }
  .reflection-container .reflection-grid-cell-100:hover ~ .reflection-content {
    transform: rotateX(-25deg) rotateY(25deg);
  }
  .reflection-container .reflection-grid-cell-100:hover ~ .reflection-content:before {
    transform: translateY(-25%);
  }